:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex; 
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 16px;
}

.news-card {
  width: 100%;
  max-width: 770px; 
  margin: 16px 0;
  padding: 16px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  overflow: hidden;
}

.expanded-content {
  max-width: 100%; 
  margin: 16px 0;
  padding: 16px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  overflow: hidden;
}

button {
  padding: 8px 16px;
  border: 2px solid #646cff;
  border-radius: 4px;
  background-color: rgba(100, 108, 255, 0.6);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  user-select: none;
  font-family: inherit;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  width: auto; 
  max-width: 100%; 
  box-sizing: border-box;
}
button:hover {
  border-color: #646cff;
  background-color: rgba(100, 108, 255, 0.8);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
